@tailwind base;
@tailwind components;
@tailwind utilities;

.bounce {
    animation: upAndDown 5s ease-in-out infinite;
  }
  
  @keyframes upAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

 