@tailwind base;
@tailwind components;
@tailwind utilities;

.bounce {
    animation: upAndDown 5s ease-in-out infinite;
  }
  
  @keyframes upAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

/* Playfair Fonts */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('/path-to-fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('/path-to-fonts/PlayfairDisplay-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: url('/path-to-fonts/PlayfairDisplay-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 500;
  src: url('/path-to-fonts/PlayfairDisplay-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  src: url('/path-to-fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 600;
  src: url('/path-to-fonts/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('/path-to-fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url('/path-to-fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  src: url('/path-to-fonts/PlayfairDisplay-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 800;
  src: url('/path-to-fonts/PlayfairDisplay-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url('/path-to-fonts/PlayfairDisplay-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  src: url('/path-to-fonts/PlayfairDisplay-BlackItalic.ttf') format('truetype');
}

